html {
    box-sizing: border-box;
}
*,
* ::before,
* ::after {
    box-sizing: inherit;
}
body {
    padding: 0;
    margin: 0;
}
.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
.header {
    background: #E6E6E6;   
}
.header__inner {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    margin-right: 125px;
}
.header__nav {
    max-width: 720px;
}
.menu {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;    
}
.menu__item {
    margin-left: 30px;
    color:#4E4E4E;
    text-transform: uppercase;
    font-family: Roboto;
    font-stretch: condensed;
    font-size: 16px;
}
.menu__link--active {
    color: #1ABB9C;
    ;
}
.banner {
    background-image: url(../img/hero-bg\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 600px;
    padding-top: 180px;
}
.index__banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner__title {
    color: #FFFFFF;  
    margin-bottom: 40px; 
}

.banner__subtitle {
    margin-bottom: 50px;
}