html {
    box-sizing: border-box;
}
*,
* ::before,
* ::after {
    box-sizing: inherit;
}
body {
    padding: 0;
    margin: 0;
}
.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
.header {
    background: #E6E6E6;
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    margin-right: 125px;
}
.header__nav {
    max-width: 720px;
}
.menu {
    margin: 0;
    padding: 0;
    display: flex;
    
}